* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    bottom: 20px;
    top: 20px;
}


.tapInput{
    position: relative;
    left: -2px;
    width: 100px;
    height: 47px;
    border-radius:  30px;
    border: none;
    background-color: #ffa500;
    border: solid #d51313 1px;
}
.identificationInput {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    top: 20px;
    position: relative;
}